[Unit]
Description=Odoo instance {{ instance_name }}
After=network.target postgresql.service

[Service]
Type=simple
WorkingDirectory={{ instance_path }}
ExecStart={{ venv_path }}/bin/python {{ venv_path }}/bin/odoo \
    --config {{ instance_path }}/config/odoo.conf \
    --addons-path $({{ odoo_addons_path }} {{ instance_path }})
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
